body {
    background-color: black;
    color: white;
}

.letter-container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: auto;
}

.letter {
    font-size: 64pt;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    flex: 1 1 8.5%;
    color: rgb(26, 26, 26);
    text-align: center;
    line-height: 96%;
}

.letter.on {
    color: white;
}