body {
    background-color: black;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

#loader {
    display: none;
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    color: white;
    font-size: 20pt;
    padding-top: 30vh;
    text-align: center;
}

.content {
    margin: auto;
    width: 100%;
    max-width: 1400px;
}

.letter-container {
    display: flex;
    flex-wrap: wrap;
}

.letter {
    font-size: 8vw;
    font-weight: 500;
    flex: 1 1 8.5%;
    color: rgb(26, 26, 26);
    text-align: center;
    line-height: 8vw;
}

.letter.on {
    color: white;
}


/* Remote control */
section.controls {
    position: fixed;
    left: 10px;
    bottom: 10px;
    display: flex;
    gap: 8px;
    padding: 10px 15px;
}

.btn-control {
    background-color: black;
    border-radius: 20%;
    text-align: center;
    height: 75px;
    width: 75px;
    border: 3px solid white;
    color: white;
    font-weight: bold;
    transition: transform 0.1s ease;
    box-sizing: border-box;
    padding: 10px;
}

a.btn-control svg {
    /* height: 50px;
    width: 50px; */
}

.btn-control:hover {
    border-color: black;
    background-color: white;
    color: black;
    transform: scale(1.2);
}

/* Animations control */
div.animations-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.btn-animation {
    width: 49%;
    height: 100px;
    background-color: black;
    border-radius: 20px;
    text-align: center;
    border: 3px solid white;
    color: white;
    font-weight: bold;
    transition: transform 0.1s ease;
    box-sizing: border-box;
    padding: 10px;
    font-size: 22pt;
}

.btn-animation:hover {
    border-color: black;
    background-color: white;
    color: black;
    transform: scale(1.1);
}