{% extends 'base.html' %}

{% block content %}
  <h1>Animations</h1>

  <div class="animations-container">
    <button class="btn-animation" onclick="sendAnimation('blink')">Blink</button>
    <button class="btn-animation" onclick="sendAnimation('hello')">Hello</button>
    <button class="btn-animation" onclick="sendAnimation('snake')">Snake</button>
    <button class="btn-animation" onclick="sendAnimation('audiospectrum')">Audio spectrum</button>
    <button class="btn-animation" onclick="sendAnimation('random')">Random</button>
    <button class="btn-animation" onclick="sendAnimation('translation')">Translation</button>
  </div>
{% endblock %}