{% extends 'base.html' %}

{% block content %}
  <div class="letter-container">
    <div class="letter" id="led-0">I</div>
    <div class="letter" id="led-1">L</div>
    <div class="letter" id="led-2">N</div>
    <div class="letter" id="led-3">E</div>
    <div class="letter" id="led-4">S</div>
    <div class="letter" id="led-5">T</div>
    <div class="letter" id="led-6">O</div>
    <div class="letter" id="led-7">D</div>
    <div class="letter" id="led-8">E</div>
    <div class="letter" id="led-9">U</div>
    <div class="letter" id="led-10">X</div>

    <div class="letter" id="led-11">Q</div>
    <div class="letter" id="led-12">U</div>
    <div class="letter" id="led-13">A</div>
    <div class="letter" id="led-14">T</div>
    <div class="letter" id="led-15">R</div>
    <div class="letter" id="led-16">E</div>
    <div class="letter" id="led-17">T</div>
    <div class="letter" id="led-18">R</div>
    <div class="letter" id="led-19">O</div>
    <div class="letter" id="led-20">I</div>
    <div class="letter" id="led-21">S</div>
  
    <div class="letter" id="led-22">N</div>
    <div class="letter" id="led-23">E</div>
    <div class="letter" id="led-24">U</div>
    <div class="letter" id="led-25">F</div>
    <div class="letter" id="led-26">U</div>
    <div class="letter" id="led-27">N</div>
    <div class="letter" id="led-28">E</div>
    <div class="letter" id="led-29">S</div>
    <div class="letter" id="led-30">E</div>
    <div class="letter" id="led-31">P</div>
    <div class="letter" id="led-32">T</div>

    <div class="letter" id="led-33">H</div>
    <div class="letter" id="led-34">U</div>
    <div class="letter" id="led-35">I</div>
    <div class="letter" id="led-36">T</div>
    <div class="letter" id="led-37">S</div>
    <div class="letter" id="led-38">I</div>
    <div class="letter" id="led-39">X</div>
    <div class="letter" id="led-40">C</div>
    <div class="letter" id="led-41">I</div>
    <div class="letter" id="led-42">N</div>
    <div class="letter" id="led-43">Q</div>

    <div class="letter" id="led-44">M</div>
    <div class="letter" id="led-45">I</div>
    <div class="letter" id="led-46">D</div>
    <div class="letter" id="led-47">I</div>
    <div class="letter" id="led-48">X</div>
    <div class="letter" id="led-49">M</div>
    <div class="letter" id="led-50">I</div>
    <div class="letter" id="led-51">N</div>
    <div class="letter" id="led-52">U</div>
    <div class="letter" id="led-53">I</div>
    <div class="letter" id="led-54">T</div>

    <div class="letter" id="led-55">O</div>
    <div class="letter" id="led-56">N</div>
    <div class="letter" id="led-57">Z</div>
    <div class="letter" id="led-58">E</div>
    <div class="letter" id="led-59">R</div>
    <div class="letter" id="led-60">H</div>
    <div class="letter" id="led-61">E</div>
    <div class="letter" id="led-62">U</div>
    <div class="letter" id="led-63">R</div>
    <div class="letter" id="led-64">E</div>
    <div class="letter" id="led-65">S</div>

    <div class="letter" id="led-66">M</div>
    <div class="letter" id="led-67">O</div>
    <div class="letter" id="led-68">I</div>
    <div class="letter" id="led-69">N</div>
    <div class="letter" id="led-70">S</div>
    <div class="letter" id="led-71">O</div>
    <div class="letter" id="led-72">L</div>
    <div class="letter" id="led-73">E</div>
    <div class="letter" id="led-74">D</div>
    <div class="letter" id="led-75">I</div>
    <div class="letter" id="led-76">X</div>

    <div class="letter" id="led-77">E</div>
    <div class="letter" id="led-78">T</div>
    <div class="letter" id="led-79">R</div>
    <div class="letter" id="led-80">Q</div>
    <div class="letter" id="led-81">U</div>
    <div class="letter" id="led-82">A</div>
    <div class="letter" id="led-83">R</div>
    <div class="letter" id="led-84">T</div>
    <div class="letter" id="led-85">P</div>
    <div class="letter" id="led-86">M</div>
    <div class="letter" id="led-87">D</div>

    <div class="letter" id="led-88">V</div>
    <div class="letter" id="led-89">I</div>
    <div class="letter" id="led-90">N</div>
    <div class="letter" id="led-91">G</div>
    <div class="letter" id="led-92">T</div>
    <div class="letter" id="led-93">-</div>
    <div class="letter" id="led-94">C</div>
    <div class="letter" id="led-95">I</div>
    <div class="letter" id="led-96">N</div>
    <div class="letter" id="led-97">Q</div>
    <div class="letter" id="led-98">U</div>

    <div class="letter" id="led-99">E</div>
    <div class="letter" id="led-100">T</div>
    <div class="letter" id="led-101">S</div>
    <div class="letter" id="led-102">D</div>
    <div class="letter" id="led-103">E</div>
    <div class="letter" id="led-104">M</div>
    <div class="letter" id="led-105">I</div>
    <div class="letter" id="led-106">E</div>
    <div class="letter" id="led-107">P</div>
    <div class="letter" id="led-108">A</div>
    <div class="letter" id="led-109">M</div>
  </div>
  <script>
    (function() {
      function update() {
        fetch('/leds').then((resp) => resp.json()).then(leds => {
          console.log('update');
          document.querySelectorAll('.letter').forEach(el => el.classList.remove('on'));

          leds.forEach(led => {
            document.getElementById(`led-${led}`).classList.add("on");
          });
        });
      }
      update();
      setInterval(update, 10000);
    })();
  </script>
{% endblock %}