{% extends 'base.html' %}

{% block title %}
Clock
{% endblock %}

{% block content %}
  <div class="letter-container">
    <div class="letter" id="led-109">I</div>
    <div class="letter" id="led-108">L</div>
    <div class="letter" id="led-107">N</div>
    <div class="letter" id="led-106">E</div>
    <div class="letter" id="led-105">S</div>
    <div class="letter" id="led-104">T</div>
    <div class="letter" id="led-103">O</div>
    <div class="letter" id="led-102">D</div>
    <div class="letter" id="led-101">E</div>
    <div class="letter" id="led-100">U</div>
    <div class="letter" id="led-99">X</div>

    <div class="letter" id="led-88">Q</div>
    <div class="letter" id="led-89">U</div>
    <div class="letter" id="led-90">A</div>
    <div class="letter" id="led-91">T</div>
    <div class="letter" id="led-92">R</div>
    <div class="letter" id="led-93">E</div>
    <div class="letter" id="led-94">T</div>
    <div class="letter" id="led-95">R</div>
    <div class="letter" id="led-96">O</div>
    <div class="letter" id="led-97">I</div>
    <div class="letter" id="led-98">S</div>
  
    <div class="letter" id="led-87">N</div>
    <div class="letter" id="led-86">E</div>
    <div class="letter" id="led-85">U</div>
    <div class="letter" id="led-84">F</div>
    <div class="letter" id="led-83">U</div>
    <div class="letter" id="led-82">N</div>
    <div class="letter" id="led-81">E</div>
    <div class="letter" id="led-80">S</div>
    <div class="letter" id="led-79">E</div>
    <div class="letter" id="led-78">P</div>
    <div class="letter" id="led-77">T</div>

    <div class="letter" id="led-66">H</div>
    <div class="letter" id="led-67">U</div>
    <div class="letter" id="led-68">I</div>
    <div class="letter" id="led-69">T</div>
    <div class="letter" id="led-70">S</div>
    <div class="letter" id="led-71">I</div>
    <div class="letter" id="led-72">X</div>
    <div class="letter" id="led-73">C</div>
    <div class="letter" id="led-74">I</div>
    <div class="letter" id="led-75">N</div>
    <div class="letter" id="led-76">Q</div>

    <div class="letter" id="led-65">M</div>
    <div class="letter" id="led-64">I</div>
    <div class="letter" id="led-63">D</div>
    <div class="letter" id="led-62">I</div>
    <div class="letter" id="led-61">X</div>
    <div class="letter" id="led-60">M</div>
    <div class="letter" id="led-59">I</div>
    <div class="letter" id="led-58">N</div>
    <div class="letter" id="led-57">U</div>
    <div class="letter" id="led-56">I</div>
    <div class="letter" id="led-55">T</div>

    <div class="letter" id="led-44">O</div>
    <div class="letter" id="led-45">N</div>
    <div class="letter" id="led-46">Z</div>
    <div class="letter" id="led-47">E</div>
    <div class="letter" id="led-48">R</div>
    <div class="letter" id="led-49">H</div>
    <div class="letter" id="led-50">E</div>
    <div class="letter" id="led-51">U</div>
    <div class="letter" id="led-52">R</div>
    <div class="letter" id="led-53">E</div>
    <div class="letter" id="led-54">S</div>

    <div class="letter" id="led-43">M</div>
    <div class="letter" id="led-42">O</div>
    <div class="letter" id="led-41">I</div>
    <div class="letter" id="led-40">N</div>
    <div class="letter" id="led-39">S</div>
    <div class="letter" id="led-38">O</div>
    <div class="letter" id="led-37">L</div>
    <div class="letter" id="led-36">E</div>
    <div class="letter" id="led-35">D</div>
    <div class="letter" id="led-34">I</div>
    <div class="letter" id="led-33">X</div>

    <div class="letter" id="led-22">E</div>
    <div class="letter" id="led-23">T</div>
    <div class="letter" id="led-24">R</div>
    <div class="letter" id="led-25">Q</div>
    <div class="letter" id="led-26">U</div>
    <div class="letter" id="led-27">A</div>
    <div class="letter" id="led-28">R</div>
    <div class="letter" id="led-29">T</div>
    <div class="letter" id="led-30">P</div>
    <div class="letter" id="led-31">M</div>
    <div class="letter" id="led-32">D</div>

    <div class="letter" id="led-21">V</div>
    <div class="letter" id="led-20">I</div>
    <div class="letter" id="led-19">N</div>
    <div class="letter" id="led-18">G</div>
    <div class="letter" id="led-17">T</div>
    <div class="letter" id="led-16">-</div>
    <div class="letter" id="led-15">C</div>
    <div class="letter" id="led-14">I</div>
    <div class="letter" id="led-13">N</div>
    <div class="letter" id="led-12">Q</div>
    <div class="letter" id="led-11">U</div>

    <div class="letter" id="led-0">E</div>
    <div class="letter" id="led-1">T</div>
    <div class="letter" id="led-2">S</div>
    <div class="letter" id="led-3">D</div>
    <div class="letter" id="led-4">E</div>
    <div class="letter" id="led-5">M</div>
    <div class="letter" id="led-6">I</div>
    <div class="letter" id="led-7">E</div>
    <div class="letter" id="led-8">P</div>
    <div class="letter" id="led-9">A</div>
    <div class="letter" id="led-10">M</div>
  </div>
  <script>
    (function() {
      update();
      setInterval(update, 1000);
    })();
  </script>
{% endblock %}