{% extends 'base.html' %}

{% block content %}
  <h1>Programs</h1>

  <div class="programs-container">
    <button class="btn-program" onclick="enableClockMode()">Clock mode</button>
    <button class="btn-program" onclick="sendAnimation('blink')">Blink</button>
    <button class="btn-program" onclick="sendAnimation('snake')">Snake</button>
    <button class="btn-program" disabled onclick="sendAnimation('audiospectrum')">Audio spectrum</button>
    <button class="btn-program" disabled onclick="sendAnimation('random')">Random</button>
    <button class="btn-program" disabled onclick="sendAnimation('translation')">Translation</button>
  </div>
{% endblock %}