{% extends 'base.html' %}

{% block title %}
Programs
{% endblock %}

{% block content %}
  <h1>Programs</h1>

  <div class="programs-container">
    <button class="btn-program" onclick="enableClockMode()">Clock mode</button>
    <button class="btn-program" onclick="triggerEffect('blink')">Blink</button>
    <button class="btn-program" onclick="triggerEffect('snake')">Snake</button>
    <button class="btn-program" onclick="triggerEffect('fill')">Fill</button>
    <button class="btn-program" onclick="triggerEffect('water')">Water</button>
    <button class="btn-program" onclick="triggerEffect('water2')">Water 2</button>
    <button class="btn-program" onclick="triggerEffect('text')">Text</button>
    <button class="btn-program" disabled onclick="triggerEffect('translation')">Translation</button>

    <label for="speed">Speed (ms)</label><input type="text" name="speed" id="speed" value="500">
    <label for="param">Param</label><input type="text" name="param" id="param" value="">
  </div>

  <script>
    var speed = 500;
    var param = "";

    function triggerEffect(effectName) {
      sendAnimation(effectName, speed, param);
    }

    (function() {
      document.getElementById('speed').addEventListener('keyup', function() {
        console.log(this.value);
        speed = this.value;
      });

      document.getElementById('param').addEventListener('keyup', function() {
        console.log(this.value);
        param = this.value;
      });
    })();
    
  </script>
{% endblock %}